<header>
  <app-header></app-header>
  <img src="assets/angular-logo.png" alt="The Angular logo: The letter 'A'" />
  <h1>Let's get started!</h1>
  <p>Time to learn all about Angular!</p>
</header>
<!--(anotherEvent)="onSelectUserOutput($event)"-->
<main>
  <ul id="users">
    <!--Tells Angular which property to identify for each item in the list-->
    @for (user of users; track user.id) {
    <li>
      <app-user
        [rcv_user]="user"
        [rcv_value_test]="'a'"
        (select)="onSelectUser($event)"
        [selected]="user.id === selectedUserId"
      >
      </app-user>
      @if(selectedUser && user.id === selectedUserId){
        <app-user-tasks [UserValue]="user"></app-user-tasks>
        @for (task of loaded_tasks; track task.user_assigned){
           @if (task.user_assigned.includes(selectedUser.id)){
            <app-task [UserTaskValue]="task" ></app-task>
          }
        }@empty{
          <li>Este usuário não tem nenhuma tarefa atribuida a ele</li>
        }
      }
    </li>
    }
  </ul>
</main>
