<header>
  <app-header></app-header>
  <img src="assets/angular-logo.png" alt="The Angular logo: The letter 'A'" />
  <h1>Let's get started!</h1>
  <p>Time to learn all about Angular!</p>
</header>

<main>
  <ul id="users">
    <li>
      <app-user
        [rcv_user]="users[0]"
        [rcv_value_test]="'a'"
        (select)="onSelectUser($event)"
      >
      </app-user>
    </li>
    <li>
      <app-user
        [rcv_user]="users[1]"
        [rcv_value_test]="'a'"
        (select)="onSelectUser($event)"
      ></app-user>
    </li>
    <li>
      <app-user
        [rcv_user]="users[2]"
        [rcv_value_test]="'a'"
        (select)="onSelectUser($event)"
      ></app-user>
    </li>
  </ul>
</main>
